    .header { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: large;
        text-align: right;
        }
        ul li {
            list-style-type: none;
        }

        h3 {
            font-size: 50px;
            text-align: center;
            color:red;
        }
        .paragrath {
            text-align: center; 
            margin-right: 70px;
            margin-left: 70px;
            text-decoration: dotted;
             
        }
        .pading {
            border:20px solid yellowgreen
        }

        img { height: 200px;
            width: 200px;
            padding: 20px 20px 20px 20px;
            padding-left: 15%;
            border:20px; 

        }

        .form {  display:flex;
  justify-content: center;
        }

        form {color:blueviolet;
        align-content: center;}

        button { background-color: aqua;
                color: brown;
                border-radius: 30px;
    }

    i {

    }




